@using System.Data
@model HantnewCMS.Models.TaskScheduleViewModel
@{
    ViewBag.Title = "项目进度";
}

@section Styles{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/UserTable/jquery.datatables.min.css")
    @Styles.Render("~/Content/UserTable/buttons.dataTables.min.css")
    <link href="~/Content/TaskSchedule/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrapbuttons.css">
    <link href="~/Content/reveal.css" rel="stylesheet" />
}

<form method="post">
    <div class="all">
        @foreach (DataRow item in ViewBag.Data.Rows)
        {
            <div class="the_title_div">
                <lable class="the_title">项目名称: @item[1]</lable>
            </div>
            <table id="example" class="display" role="grid" aria-describedby="example_info">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>进度内容</th>
                        <th>发布者</th>
                        <th>创建时间</th>
                        <th>上次修改时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in Model.TaskSchedules)
                        {
                        <tr>
                            <td>
                                <input type="checkbox" data-id="@items.ID">
                            </td>
                            <td>@Html.DisplayFor(model => items.ID)</td>
                            <td>@Html.DisplayFor(model => items.Content)</td>
                            <td>@Html.DisplayFor(model => items.PublisherUserName)</td>
                            <td>@Html.DisplayFor(model => items.CreateTime)</td>
                            <td>@Html.DisplayFor(model => items.LastEditTime)</td>
                            <td>
                                @Html.ActionLink("查看", "TaskSchedule_Detail", new { id = items.ID })
                                @Html.ActionLink("编辑", "TaskSchedule_Edit", new { id = @items.ID })
                                <a href="javascript:;" onclick="if(window.confirm('确定要删除吗？')) window.location.href ='@Url.Action("TaskSchedule_Remove", "Admin", new { id = items.ID })'">删除</a>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
            <div class="page1div">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("TaskSchedule", new { page = x }))
            </div>
        }
    </div>
</form>


@section Scripts {
    <script src="http://www.jq22.com/jquery/jquery-1.6.2.js"></script>
    <script src="~/Scripts/jquery.reveal.js"></script>
    @Scripts.Render("~/bundles/layuijs")
    @Scripts.Render("~/Scripts/UserTable/jquery.min.js")
    @Scripts.Render("~/Scripts/UserTable/jquery.datatables.min.js")
    @Scripts.Render("~/Scripts/UserTable/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/UserTable/jszip.min.js")
    @Scripts.Render("~/Scripts/UserTable/buttons.html5.min.js")
    @Scripts.Render("~/Scripts/UserTable/buttons.flash.min.js")
    @Scripts.Render("~/Scripts/UserTable/pdfmake.min.js")
    @Scripts.Render("~/Scripts/UserTable/vfs_fonts.js")
    @Scripts.Render("~/Scripts/UserTable/buttons.print.min.js")
    <script src="~/Scripts/morejs.js"></script>
    <script src="http://www.jq22.com/js/jq.js"></script>


    <script>
        $(document).ready(function () {

            $('#example').DataTable({
                dom: 'Bfrtip',
                language: {
                    emptyTable: '没有数据',
                    loadingRecords: '加载中...',
                    processing: '查询中...',
                    search: '检索:',
                    lengthMenu: '',
                    zeroRecords: '没有数据',
                    paginate: {
                        'first': '',
                        'last': '',
                        'next': '',
                        'previous': ''
                    },
                    info: '',
                    infoEmpty: '',
                    infoFiltered: '',
                },
                buttons: [
                    {
                        extend: 'copyHtml5',
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Data export'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Data export'
                    },
                    {
                        extend: 'csvHtml5',
                        title: 'Data export'
                    },
                    {
                        extend: 'print',
                    }
                ]
            });

            $(".buttons-copy").text('复制');
            $(".buttons-excel").text('导出到excel');
            $(".buttons-pdf").text('导出到pdf');
            $(".buttons-csv").text('导出到csv');
            $(".buttons-print").text('打印');

        });
    </script>
}

