@model System.Data.DataTable
@using System.Data
@{
    ViewBag.Title = "UserDetail";
}

<table class="altrowstable" id="alternatecolor">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>NickName</th>
            <th>Password</th>
            <th>CreatOn</th>
        </tr>
    </thead>

    <tbody>
        @foreach (DataRow item in ViewBag.Data.Rows)
        {
            <tr>
                <td>@item[0]</td>
                <td>@item[1]</td>
                <td>@item[2]</td>
                <td>@item[3]</td>
                <td>@item[4]</td>
            </tr>
        }
    </tbody>
</table>

