<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="renderer" content="webkit" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>HantnewCMS</title>

    @Styles.Render("~/bundles/layoutshowcss")
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="/js/css3-mediaqueries.js"></script>
    <![endif]-->

    @RenderSection("Styles", required: false)
</head>

<body>
    <div id="header">
        <div class="wrap clearfix">
            <div class="logo" style="margin-top: 14px;">
                <a href="../Show/Index">HantnewCMS</a>
            </div>
            <div class="personmsg">
                <ul>
                    <li class="layui-nav-item">
                        <img src="../imgs/user-msg.png" alt="" />
                        <span style="margin-top:4px;color:#F8F8FF;" class="userspan">
                            <strong>
                                <a class="loginlink" href="@if (Request.Cookies["UserName"] == null)
                                                            {
                                                                @Url.Action("Login", "Log")
                                                            }
                                                            else
                                                            {
                                                                @Url.Action("PersonCenter", "Show")
                                                            } ">
                                    @if (Request.Cookies["UserName"] == null)
                                    {
                                        @Html.Raw("登录")
                                    }
                                    else
                                    {
                                        @Request.Cookies["UserName"].Value
                                    }
                                </a>
                            </strong>
                        </span>
                    </li>
                </ul>
            </div>
            <div id="Menu">
                <ul class="layui-nav" lay-filter="">
                    @*<li class="layui-nav-item layui-this">*@
                    <li class="layui-nav-item">
                        <a href="../Show/Index">首页</a>
                    </li>
                    <li class="layui-nav-item ">
                        @Html.ActionLink("文章", "Article", "Show")
                        @*<dl class="layui-nav-child">
                            <dd><a href="#">???</a></dd>
                            <dd><a href="#">???</a></dd>
                        </dl>*@
                    </li>
                    <li class="layui-nav-item ">
                        @Html.ActionLink("投票", "Vote", "Show")
                    </li>
                    <li class="layui-nav-item ">
                        @Html.ActionLink("调查问卷", "Investigation", "Show")
                    </li>
                    <li class="layui-nav-item ">
                        <a href="http://www.hantnew.com/e/action/ListInfo/?classid=4" target="_blank">联系我们</a>
                    </li>
                    <li class="layui-nav-item ">
                        @Html.ActionLink("个人中心", "PersonCenter", "Show")
                    </li>

                </ul>
            </div>
            <div class="menuBar">
                <ul class="list">
                    <li class="bar_line bar_top"></li>
                    <li class="bar_line bar_mid"></li>
                    <li class="bar_line bar_foot"></li>
                </ul>
            </div>
            <div id="mMenu">
                <ul class="list">
                    <li class="current">
                        @Html.ActionLink("首页", "Index", "Show")
                    </li>
                    <li class="">
                        @Html.ActionLink("文章", "Article", "Show")
                    </li>
                    <li class="">
                        @Html.ActionLink("投票", "Vote", "Show")
                    </li>
                    <li class="">
                        @Html.ActionLink("调查问卷", "Investigation", "Show")
                    </li>
                    <li class="">
                        <a href="http://www.hantnew.com/e/action/ListInfo/?classid=4" target="_blank">联系我们</a>
                    </li>
                    <li class="">
                        @Html.ActionLink("个人中心", "PersonCenter", "Show")
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div style="height:100%;">
        @RenderBody()
    </div>

    <div id="footer" class="footer">
        <div class="wrap">
            <div class="foot en-font">
                <span>&copy; 2019 HantnewCMS . All Rights Reserved.</span>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/layoutshowjs")
    @Scripts.Render("~/bundles/jquery")

    <script>
        layui.use('element', function () {
            var element = layui.element;
        });

        $('.menuBar').click(function () {
            $('#header').toggleClass('menu_close');
        })
    </script>


    <script type="text/javascript">
        (function () {
            var tab_tit = document.getElementById('think_page_trace_tab_tit').getElementsByTagName('span');
            var tab_cont = document.getElementById('think_page_trace_tab_cont').getElementsByTagName('div');
            var open = document.getElementById('think_page_trace_open');
            var close = document.getElementById('think_page_trace_close').children[0];
            var trace = document.getElementById('think_page_trace_tab');
            var cookie = document.cookie.match(/thinkphp_show_page_trace=(\d\|\d)/);
            var history = (cookie && typeof cookie[1] != 'undefined' && cookie[1].split('|')) || [0, 0];
            open.onclick = function () {
                trace.style.display = 'block';
                this.style.display = 'none';
                close.parentNode.style.display = 'block';
                history[0] = 1;
                document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
            }
            close.onclick = function () {
                trace.style.display = 'none';
                this.parentNode.style.display = 'none';
                open.style.display = 'block';
                history[0] = 0;
                document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
            }
            for (var i = 0; i < tab_tit.length; i++) {
                tab_tit[i].onclick = (function (i) {
                    return function () {
                        for (var j = 0; j < tab_cont.length; j++) {
                            tab_cont[j].style.display = 'none';
                            tab_tit[j].style.color = '#999';
                        }
                        tab_cont[i].style.display = 'block';
                        tab_tit[i].style.color = '#000';
                        history[1] = i;
                        document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
                    }
                })(i)
            }
            parseInt(history[0]) && open.click();
            tab_tit[history[1]].click();
        })();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>